.header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;

    margin-top: 60px;
}

.link {
    font-size: 28px;
    width: 116px;
    height: 42px;
    color: black;
    text-decoration: none;
}

.link :hover {
    text-decoration: underline;
}