* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte);
}

#home {
    text-decoration: underline;
}

body {
    margin: 100px;
}

.container-principal {
    display: flex;
    flex-direction:column;
}